.Auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .a-left{
        gap: 2rem;
       
        img{
            width: 4rem;
            height: 4rem;
        }

        .webname{
            flex-direction: column;

            .login-title{
                font-size: 3rem;
                color: orange;

            // // creating gradiant text
            // background-image: var(--buttonBg);

            // // set the background to repeat
            // background-size: 100%;
            // background-repeat: repeat;

            // // using the text as mask for the background
            // --webkit-background-clip: text;
            // --webkit-text-fill-color: transparent;
            // --moz-background-clip: text;


            }

            h6{
                font-size: 0.85rem;
            }
            
        }
    }
}

.a-right{
    .infoForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .infoInput{
            border: none;
            outline: none;
            background-color: var(--inputColor);
            border-radius: 8px;
            padding: 20px;
            flex: 1;
        }

        div{
            display: flex;
            gap: 1rem;
            height: 2rem;
            width: 100%;
        }

        .infoButton{
            width: 6rem;
            height: 2rem;
            align-self: flex-end;
        }

        
    }

    .authForm{
        background-color: var(--cardColor);
        border-radius: 1rem;
        padding: 1rem;

        div{
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .haveAccount{
            font-size: 12px;

        }
    }

}