.Chat_navicons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    // background-color: black;

    img{
        width: 1.5rem;
        height: 1.5rem;
    }
    a{
        width: 1.5rem;
        height: 1.5rem;
    } 
}